<div class="container">
  <h2 class="title">Update Vehicle</h2>
  <form>
    <div class="form-group">
      <label for="id">Service Center ID:</label>
      <input type="text" id="id" [(ngModel)]="serviceCenter.id" name="id" value="{{serviceCenter.id}}" class="form-control" required>
      <button (click)="GetServiceCenterDetails()" class="btn btn-secondary mt-2">Get Service Center</button>
    </div>
    <div class="form-group">
      <label for="name">Service Center Name:</label>
      <input type="text" id="name" [(ngModel)]="serviceCenter.name" name="name" value="{{serviceCenter.name}}" class="form-control" required>
    </div>
    <button (click)="UpdateServiceCenter()" class="btn btn-primary">Update Vehicle</button>
  </form>
</div>