<div class="container">
  <h2 class="title">Delete Service Center</h2>
  <form>
    <div class="form-group">
      <label for="serviceCenter">Service Center:</label>
      <select id="serviceCenter" [(ngModel)]="serviceCenter.name" name="serviceCenter" class="form-control" required>
        <option *ngFor="let center of serviceCenters" [value]="center.name">{{ center.name }}</option>
      </select>
    </div>
    <div class="form-group">
      <button (click)="DeleteServiceCenter()" class="btn btn-danger">Delete Service Center</button>
    </div>
  </form>
</div>