<div class="sidebar">
  <div class="sidebar-header">
  </div>
  <ul class="sidebar-links">
    <li><a routerLink="/dashboard"><i class="fas fa-tachometer-alt"></i> Dashboard</a></li>
    <li><a (click)="ToggleService()"><i class="{{serviceArrow}}"></i> Service Centers</a></li>
    <div *ngIf="displayService">
      <li><a routerLink="/service/add-service-center"><i class="fas fa-plus-circle"></i> Register Service Center</a></li>
      <li><a routerLink="/service/delete-service-center"><i class="fas fa-minus-circle"></i> Delete Service Center</a></li>
      <li><a routerLink="/service/get-service-center"><i class="fas fa-search"></i> Service Centers</a></li>
      <li><a routerLink="/service/update-service-center"><i class="fas fa-edit"></i> Update Service Center</a></li>
    </div>
    <li><a (click)="ToggleVehicle()"><i class="{{vehicleArrow}}"></i> Vehicles</a></li>
    <div *ngIf="displayVehicle">
      <li><a routerLink="/vehicle/add-vehicle"><i class="fas fa-plus-circle"></i> Register Vehicle</a></li>
      <li><a routerLink="/vehicle/delete-vehicle"><i class="fas fa-minus-circle"></i> Delete Vehicle</a></li>
      <li><a routerLink="/vehicle/get-vehicle"><i class="fas fa-search"></i> Vehicles</a></li>
      <li><a routerLink="/vehicle/update-vehicle"><i class="fas fa-edit"></i> Update Vehicle</a></li>
    </div>
  </ul>
</div>
