<div class="container">
  <h2 class="title">Add Vehicle</h2>
  <form (ngSubmit)="addVehicle()">
    <div class="form-group">
      <label for="serviceCenter">Service Center:</label>
      <select id="serviceCenter" [(ngModel)]="selectedServiceCenter.name" name="serviceCenter" class="form-control" required>
        <option *ngFor="let center of serviceCenters" [value]="center.name">{{ center.name }}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="vin">VIN:</label>
      <input type="text" id="vin" [(ngModel)]="vehicle.vin" name="vin" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="model">Model:</label>
      <input type="text" id="model" [(ngModel)]="vehicle.model" name="model" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="status">Status:</label>
      <input type="text" id="status" [(ngModel)]="vehicle.status" name="status" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="lastActionDate">Last Action Date:</label>
      <input type="date" id="lastActionDate" [(ngModel)]="vehicle.date" name="lastActionDate" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-primary">Add Vehicle</button>
  </form>
</div>