<div class="dashboard-container">
  <h1>Dashboard</h1>
  <div class="shortcuts">
    <div class="shortcut-card">
      <a routerLink="/vehicle/add-vehicle">
        <div class="card-content">
          <i class="fas fa-car"></i>
          <h2>Add Vehicle</h2>
        </div>
      </a>
    </div>
    <div class="shortcut-card">
      <a routerLink="/service/add-service-center">
        <div class="card-content">
          <i class="fas fa-tools"></i>
          <h2>Add Service Center</h2>
        </div>
      </a>
    </div>
  </div>
</div>